.csharp {
  display: none;
}

.ruby {
  display: none;
}

.design {
  display: none;
}


.jumbotron {
  color: #008c9e;
background-color: #343838;
}

.btn{
  color: #343838;
}

.page {

  background-color: #005f6b;
}

select {
  background-color: lightgrey;
}
